
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates


[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/


*.cache
project.lock.json
project.fragment.lock.json
artifacts/


_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user


TestResult.xml


*.psess
*.vsp
*.vspx
*.sap


.vspscc
.vssscc

Thumbs.db
ehthumbs.db


.DS_Store